@font-face 
{
    font-family: "Cantarell-Regular";
    src: url("/fonts/Cantarell-Regular.ttf") format("ttf");
}

@media screen and (max-width: 1500px)
{
    nav
    {
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
    }
    
    /* Styles des elements pouvant causer un bug pour l'affichage sur les écrans de petites tailles */
	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video
    {
		max-width: 100%;
	}
	
	/* Conserver le ratio des images */
	img 
    {
		height: auto;
	}
}

h1
{
    font-size: 250%;
}

h3
{
    font-size: 200%;
}

h1, h3
{
	color: rgb(17, 25, 34);
}

p
{
    font-size: 100%;
}

html 
{
  height: 100%;
}

body
{
    min-height: 100%;
    width: 100%;
	background-color : rgb(240, 240, 240);
	font-family: "Cantarell-Regular", sans-serif;
	margin: 0;
    
}

header
{
    width: 100%;
    height: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
	text-align: center;
    background-color: rgb(28, 35, 43);
    font-size: 30px;
    
}

#subtitle
{
    color: white;
}

#subtitle, h2
{
   margin-top: 1%;
   margin-bottom: 1%;
}


#porte
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

section
{
	flex: 2.5;
	padding: 20px;
}

article
{
    background-color: white;
    padding: 18px;
    margin : 5px;
    box-shadow: 8px 8px 8px #aaa; 
    border-radius: 5px 5px 5px 5px;
}

article ul
{
    padding: 20px;
}

aside
{
	flex: 1;
	padding: 2 0px;
    background-color: rgb(222, 222, 222);
    text-align: center;
    height: 100%;
}

aside h2
{
    font-size: 30px;
}

nav
{
	display: flex; 
    flex-wrap: wrap; 
    width: 100%;
    height: 50px;
    background-color: rgb(17, 25, 34);
}

.menu 
{ 
    flex: 2;
    display: flex;
    flex-wrap: wrap; 
    height: 100%;
    padding-left: 50px;
    padding-right: 20px;
}

.menu a
{
    flex: 1;
    overflow: hidden;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 19px;
    text-align: center;
    padding: 17px 15px;
}

.menu a:hover 
{
    background-color: #111;
    color: coral;
}

.user_bar
{
    flex: 1;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row-reverse;
    overflow: hidden;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
}

.user_bar a
{
    flex: 1;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 19px;
    text-align: center;
    padding: 17px 15px;
}
.user_bar a:hover 
{
    background-color: #111;
    color: coral;
}
.search
{
    flex: 1;
    width: 20px;;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    
    background: #2b303b;
    background-image: url(Images/loupe.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    
    border: none;
    font-size: 10pt;
    color: #63717f;
    padding-left: 35px;
    border-radius: 4px 4px 4px 4px;
}

p
{
	color: rgb(17, 25, 34);
	text-indent: 50px;
    text-align:justify;
    letter-spacing: 1px;
    font-size: 18px;
}

table
{
	color: rgb(17, 25, 34);
	border-collapse : collapse;
	border-color : rgb(255,255,255);
}

a:link
{
	color: coral;
}

a:hover
{
    color: hotpink;
}

#logo_aa
{
    width : 75%;
    height: 75%;
}

#logo_aa:hover
{
    transform: rotateY(150deg);
	transition-timing-function : ease-in-out;
	transition-duration : 1.0s;
}

td, th /* Toutes les cellules des tableaux... */
{
 	padding-left : 30px;
    padding-right : 30px;
    border-right :1px solid rgb(17, 25, 34);;
    border-bottom: 1px solid rgb(17, 25, 34);;
    font-size : 150%;
}

td:hover
{
    background-color: rgb(200, 200, 200);
}

footer
{
    height: 10%;
    padding-left: 50px;
    padding-bottom: 30px;
    background-color: rgb(28, 35, 43);
}

footer p
{
    color: white;
    margin-top: 0px;
    padding-top: 30px;
}

#myForm
{
    width: 700px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 8px 8px 8px #aaa;
}

#myForm .form_elem
{
    margin: 15px;
}

#myForm h3
{
    margin-bottom: 10px;
}

#sign_button
{
    margin-top: 15px;
    margin-bottom: 15px;
}